body {
  background-color: #F2F1F0;
  margin: 0;
}

header {
  align-items: center;
  background-color: #3f3d56;
  display: flex;
  justify-content: space-evenly;
}

header img {
  width: 20%;
}

nav {
  display: flex;
  font-size: xxx-large;
}

img {
  display: flex;
  width: inherit;
}

footer {
  align-items: center;
  background-color: #3f3d56;
  display: flex;
}
