body {
  background-color: #F2F1F0;
}

.full-info-container {
  display: flex;
}

.personal-info-container {
  width: 50%;
}

.job-info-container {
  width: 50%;
}

.dados-pessoais {
  display: flex;
  width: 100%;
}

.invalid-fields {
  color: red;
  display: none;
}

.validation-curriculum {
  display: none;
}

.select-state {
  width: -webkit-fill-available;
}

textarea {
  width: -webkit-fill-available;
  height: 50px;
}
